* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.Header {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}
.Header .container {
  width: 100%;
  margin: auto;
}
.Header .container .links {
  display: flex;
  justify-content: flex-end;
}
.Header .container .links .block_link {
  margin-right: 10px;
}
.Header .container .links .block_link .link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #412727;
}
.Header .container .links .block_link .link:hover {
  transition: 0.5s;
  color: #10c9c3;
}

.Banner {
  width: 100%;
  height: 350px;
  padding-top: 120px;
  background-color: #3e3e3e;
}
.Banner .container .header {
  width: 50%;
  margin: auto;
}
.Banner .container .header .text {
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
.Banner .container .subheader {
  width: 50%;
  margin: auto;
}
.Banner .container .subheader .text {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.Statistic {
  width: 100%;
  height: 240px;
  padding-top: 100px;
  background-color: #10c9c3;
}
.Statistic .container .column {
  display: flex;
}
.Statistic .container .column .image {
  width: 38px;
  height: 34px;
  margin: auto 0;
  margin-right: 30px;
}
.Statistic .container .column .nums .count {
  font-size: 18px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0px;
}
.Statistic .container .column .nums .text {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.Author {
  width: 100%;
  height: 570px;
  display: flex;
}
.Author .image {
  width: 50%;
  height: 100%;
  background-color: #e1e1e1;
}
.Author .about {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  padding-top: 120px;
}
.Author .about .container {
  width: 70%;
  height: auto;
  margin: auto;
}
.Author .about .container .header {
  margin-bottom: 40px;
}
.Author .about .container .header .text {
  font-size: 30px;
  font-weight: 700;
  color: #171717;
}
.Author .about .container .subheader {
  margin-bottom: 30px;
}
.Author .about .container .subheader .text {
  font-size: 16px;
  color: #787878;
  margin-bottom: 30px;
}
.Author .about .container .subheader .text:last-child {
  margin-bottom: 0px;
}
.Author .about .signature .image {
  width: auto;
  height: auto;
  background-color: #ffffff;
}

.NeedAProject {
  width: 100%;
  height: 400px;
  padding-top: 103px;
}
.NeedAProject .container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.NeedAProject .container .header {
  margin-bottom: 30px;
}
.NeedAProject .container .header .text {
  font-size: 30px;
  font-weight: 700;
  color: #1d1d1d;
}
.NeedAProject .container .subheader {
  margin-bottom: 30px;
}
.NeedAProject .container .subheader .text {
  font-size: 16px;
  color: #787878;
}
.NeedAProject .container .button {
  display: block;
  width: 180px;
  height: 54px;
  line-height: 54px;
  background-color: #10c9c3;
  text-decoration: none;
  margin: 0 auto;
}
.NeedAProject .container .button .text {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.Footer {
  height: 284px;
  width: 100%;
  background-color: #141414;
  padding-top: 100px;
}
.Footer .footer_company .name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}
.Footer .footer_company .rights {
  font-size: 15px;
  color: #a6a6a6;
  margin-bottom: 10px;
}
.Footer .footer_company .designer {
  font-size: 15px;
  color: #a6a6a6;
}
.Footer .footer_contacts .mail {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  margin-bottom: 10px;
}
.Footer .footer_contacts .phone {
  font-size: 15px;
  color: #a6a6a6;
}
.Footer .footer_links {
  display: flex;
  justify-content: space-evenly;
}
.Footer .footer_links .links_col .link {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.Footer .footer_links .links_col .link:last-child {
  margin-bottom: 0px;
}
.Footer .footer_social .link {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.Footer .footer_social .link:last-child {
  margin-bottom: 0px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Banner .container .header .text {
    font-size: 30px;
  }
  .Banner .container .subheader .text {
    font-size: 14px;
  }
  .Statistic .container .column .nums .count {
    font-size: 14px;
  }
  .Statistic .container .column .nums .text {
    font-size: 10px;
  }
  .Author {
    height: 470px;
  }
  .Author .about {
    padding-top: 60px;
  }
  .Author .about .container .header {
    margin-bottom: 30px;
  }
  .Author .about .container .header .text {
    font-size: 25px;
  }
  .Author .about .container .subheader {
    margin-bottom: 20px;
  }
  .Author .about .container .subheader .text {
    font-size: 14px;
  }
  .NeedAProject .container .header .text {
    font-size: 25px;
  }
  .NeedAProject .container .subheader .text {
    font-size: 14px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .Banner {
    height: 250px;
    padding-top: 80px;
  }
  .Banner .container .header .text {
    font-size: 25px;
  }
  .Banner .container .subheader .text {
    font-size: 10px;
  }
  .Statistic {
    height: 150px;
    padding-top: 25px;
  }
  .Statistic .container .column {
    margin-bottom: 10px;
  }
  .Statistic .container .column .image {
    width: 27px;
    height: 25px;
  }
  .Statistic .container .column .nums .count {
    font-size: 12px;
  }
  .Statistic .container .column .nums .text {
    font-size: 10px;
  }
  .Author {
    height: 400px;
  }
  .Author .about {
    padding-top: 40px;
  }
  .Author .about .container .header {
    margin-bottom: 25px;
  }
  .Author .about .container .header .text {
    font-size: 22px;
  }
  .Author .about .container .subheader {
    margin-bottom: 15px;
  }
  .Author .about .container .subheader .text {
    font-size: 12px;
  }
  .NeedAProject .container .header .text {
    font-size: 20px;
  }
  .NeedAProject .container .subheader .text {
    font-size: 12px;
  }
  .Footer {
    height: 184px;
    padding-top: 50px;
  }
  .Footer .container .footer_company .name {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .Footer .container .footer_company .rights {
    font-size: 10px;
  }
  .Footer .container .footer_company .designer {
    font-size: 10px;
  }
  .Footer .container .footer_contacts .mail {
    font-size: 10px;
  }
  .Footer .container .footer_contacts .phone {
    font-size: 10px;
  }
  .Footer .container .footer_links .links_col .link {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .Footer .container .footer_social .link {
    font-size: 10px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=About.css.map */
