* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.Header {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}
.Header .container {
  width: 100%;
  margin: auto;
}
.Header .container .links {
  display: flex;
  justify-content: flex-end;
}
.Header .container .links .block_link {
  margin-right: 10px;
}
.Header .container .links .block_link .link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #412727;
}
.Header .container .links .block_link .link:hover {
  transition: 0.5s;
  color: #10c9c3;
}

.Main {
  height: 313px;
  width: 100%;
  padding: 102px 0;
  background-color: #f6f6f6;
}
.Main .container {
  height: 213px;
  width: 100%;
}
.Main .container .block_header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.Main .container .block_header .text_header {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #171717;
}
.Main .container .block_text {
  width: 50%;
  margin: 0 auto;
}
.Main .container .block_text .text {
  font-size: 18px;
  text-align: center;
  color: #787878;
}

.Work {
  width: 100%;
  height: 100%;
  max-width: 2560px;
}
.Work .work_block {
  padding: 0;
}
.Work .work_block .work_link {
  display: block;
  width: 100%;
  height: 400px;
  cursor: default;
}
.Work .work_block .img_dark {
  background: url("../Content/IMG/Home/Works/work dark gray.png") no-repeat left top;
  background-size: 100% 100%;
}
.Work .work_block .img_light {
  background: url("../Content/IMG/Home/Works/work light gray.png") no-repeat left top;
  background-size: 100% 100%;
}
.Work .work_block .work_link:hover {
  transition: 1s;
  background: url("../Content/IMG/Home/Works/work hover.png") no-repeat left top;
  background-size: 100% 100%;
}

.Footer {
  height: 284px;
  width: 100%;
  background-color: #141414;
  padding-top: 100px;
}
.Footer .footer_company .name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 25px;
}
.Footer .footer_company .rights {
  font-size: 15px;
  color: #a6a6a6;
  margin-bottom: 10px;
}
.Footer .footer_company .designer {
  font-size: 15px;
  color: #a6a6a6;
}
.Footer .footer_contacts .mail {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  margin-bottom: 10px;
}
.Footer .footer_contacts .phone {
  font-size: 15px;
  color: #a6a6a6;
}
.Footer .footer_links {
  display: flex;
  justify-content: space-evenly;
}
.Footer .footer_links .links_col .link {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.Footer .footer_links .links_col .link:last-child {
  margin-bottom: 0px;
}
.Footer .footer_social .link {
  font-size: 15px;
  text-decoration: none;
  color: #a6a6a6;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.Footer .footer_social .link:last-child {
  margin-bottom: 0px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .Main {
    padding: 52px 0;
  }
  .Main .container .block_header .text_header {
    font-size: 28px;
  }
  .Main .container .block_text .text {
    font-size: 15px;
  }
  .Work .work_block .work_link {
    height: 250px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .Main {
    padding: 26px 0;
  }
  .Main .container .block_header .text_header {
    font-size: 24px;
  }
  .Main .container .block_text .text {
    font-size: 12px;
  }
  .Work .work_block .work_link {
    height: 200px;
  }
  .Footer {
    height: 184px;
    padding-top: 50px;
  }
  .Footer .footer_company .name {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .Footer .footer_company .rights {
    font-size: 10px;
  }
  .Footer .footer_company .designer {
    font-size: 10px;
  }
  .Footer .footer_contacts .mail {
    font-size: 10px;
  }
  .Footer .footer_contacts .phone {
    font-size: 10px;
    margin-right: 2px;
  }
  .Footer .footer_links .links_col .link {
    font-size: 10px;
  }
  .Footer .footer_social .link {
    font-size: 10px;
  }
}

/*# sourceMappingURL=Home.css.map */
